main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-width: 1280px;
}

.container {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.app-header {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 32px;
  padding-right: 32px;
  position: fixed;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid rgba(199, 199, 199, 0.25);
  z-index: 100;
}

.app-header img {
  width: 42px;
  height: 31px;
}

.app-header a {
  color: #3C3C46;
  font-size: 20px;
  margin-right: 16px;
  padding: 4px 8px;
  border-radius: 4px;
}

.app-header a:not(.selected):hover {
  text-decoration: underline;
}

.selected {
  color: white !important;
  background-color: #1E93FF;
}

article.center {
  align-items: center;
  display: flex;
}

/*
  DOWNLOADS BLOCK
*/

.header-spacer {
  height: 90px;
}

.download-block, .training-block, .lab-block, .nutrition-block {
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.download-block img {
  margin-right: 2px;
}

.download-block article {
  margin-left: 2px;
}

.download-block img, .lab-block img {
  width: 50%;
  /*float: left;*/
  flex: 1;
  object-fit: cover;
}

.download-block article {
  background-color: #FFC99E;
  padding-left: 32px;
  padding-right: 190px;
  flex: 1;
}

.center > div {
  width: 400px;
}

.download-block article h2 {
  margin-top: 0;
  color: #E0694C;
  font-size: 40px;
}


.download-block article a:not(.product-hunt) {
  display: block;
  margin-top: 40px;
}

.product-hunt {
  display: block;
  height: 54px;
  margin-top: 20px;
}

.download-block article img {
  width: 166px;
}

/*
  TRAINING BLOCK
*/

.training-block article {
  height: 549px;
  flex: 1;
  justify-content: center;
}

.training-block article h2 {
  font-size: 40px;
  color: #919FFF;
  margin-top: 0;
}

.training-block article div {
  width: 300px;
}

.training-block article img {
  width: 400px;
  margin-top: 45px;
}

/*
  LAB BLOCK
*/

.lab-block article {
  background-color: #F6F6F6;
  padding-left: 32px;

  padding-right: 190px;
  flex: 1;
}

.lab-block article h2 {
  margin-top: 0;
  color: #505050;
  font-size: 40px;
}

.lab-block img {
  padding: 4px;
  background-color: #F6F6F6;
}

/*
  COMMENTS BLOCK
*/

.comments-block {
  padding: 0 100px;
  width: 70%;
  margin: 0 auto;
}

.comments-block .center {
  padding: 100px 0;
}

.comments-block .center > article {
  margin-bottom: 100px;
}

.comments-block .center article header {
  display: flex;
  align-items: flex-end;
}

.comments-block .center article header .comment {
  background-color: #DBF2FF;
  padding: 16px;
  border-radius: 20px;
  width: 60%;
  margin-left: 32px;
}

.comments-block .center article header img {
  width: 109px;
  height: 109px;
  border: 8px solid #DBF2FF;
  border-radius: calc(109px / 2);
}

.comments-block .center article h4 {
  color: #454545;
  margin-bottom: 0;
  font-size: 30px;
  margin-top: 32px;
}

.comments-block .center article h5 {
  color: #9A9A9A;
  margin-bottom: 0;
  font-size: 20px;
  margin-top: 0;
}

.comments-block .center article:nth-child(2) {
  margin-bottom: 0;
}

.comments-block .center article:nth-child(2) header {
  flex-direction: row-reverse;
}

.comments-block .center article:nth-child(2) header .comment {
  background-color: #E4DBFF;
  margin-left: 0;
  margin-right: 32px;
}

.comments-block .center article:nth-child(2) .headers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.comments-block .comment {
  position: relative;
}

.comments-block time {
  position: absolute;
  right: -72px;
  bottom: 0;
  color: #D0CECE;
  font-size: 16px;
}

.comments-block .center article:nth-child(2) time {
  left: -72px;
}

/*
  WORKOUTS BLOCK
*/

.workouts-block {
  background-color: #FF9D9D;
  display: flex;
  flex-direction: row;
  min-height: 800px;
}

.workouts-block article.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  align-items: center;
}

.workouts-block article.left .workouts-count {
  width: 146px;
  height: 146px;
  border-radius: calc(146px / 2);
  background-color: white;
  text-align: center;
  line-height: 146px;
  font-size: 50px;
  color: #FF9D9D;
  margin: 0 0 56px;
}

.workouts-block article.left h3 {
  font-size: 40px;
  color: white;
  margin: 0 0 32px;
}

.workouts-block article.left p {
  margin: 0;
  font-size: 16px;
  color: #3B3B3B;
  width: 300px;
}

.workouts-block article.right {
  width: 50%;
  position: relative;
}

.workouts-block article.right img {
  position: absolute;
}

.workouts-block article.right img:nth-child(1) {
  top: 100px;
  width: 300px;
  right: 100px;
}

.workouts-block article.right img:nth-child(2) {
  bottom: 100px;
  width: 350px;
}

.workouts-block article.right img:nth-child(3) {
  height: 350px;
  right: 0;
  bottom: -175px;
}

/*
  nutrition-block
*/

.nutrition-block {
  background-color: #F9F9F9;
  padding-top: 300px;
}

.nutrition-block article {
  height: 549px;
  flex: 1;
  justify-content: center;
}

.nutrition-block article:nth-child(1) {
  margin-top: -155px;
}

.nutrition-block article h2 {
  font-size: 40px;
  color: #919FFF;
  margin-top: 0;
}

.nutrition-block article div {
  width: 300px;
}

.nutrition-block article {
  position: relative;
}

.nutrition-block article img {
  width: 700px;
  position: absolute;
  bottom: 0;
}


footer {
  width: 1280px;
  margin: 0 auto;
  height: 200px;
  display: flex;
  justify-content: center;
}

footer ul {
  margin-right: 100px;
}

footer ul h4 {
  color: #8D8DA0;
  font-size: 14px;
  margin-bottom: 10px;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul a {
  margin-bottom: 0;
  color: #469BFF;
  font-size: 12px;
}

footer ul a:hover {
  text-decoration: underline;
}


.inprint {
  height: calc(100vh - 90px - 200px);
  min-height: 526px;
  width: 100%;
  background-color: #AFE3FF;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.inprint article {
  width: 340px;
}

.inprint h1 {
  color: #1B1B1B;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  h2 {
    font-size: 20px !important;
  }

  p {
    font-size: 14px;
    line-height: 22px;
  }

  h4 {
    font-size: 16px !important;
  }

  h5 {
    font-size: 12px !important;
  }


  main {
    min-width: auto;
  }

  .app-header a:not(.selected) {
    display: none;
  }

  .download-block, .training-block, .lab-block, .comments-block, .nutrition-block {
    display: block;
  }

  .download-block img, .lab-block img {
    width: 100%;
  }

  .download-block img {
    margin-bottom: 4px;
    margin-right: 0;
  }

  .lab-block img {
    background-color: #F6F6F6;
    padding: 4px;
  }

  .download-block .center, .training-block .center, .lab-block .center, .nutrition-block .center {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
  }

  .download-block .center div, .training-block .center div, .lab-block .center div, .workouts-block article.left div, .nutrition-block .center div {
    width: 280px;
    padding: 100px 0 100px;
    margin: 0 auto;
  }


  .training-block {
    display: block;
  }

  .training-block article img {
    display: block;
    margin: 0 auto 0;
  }

  .comments-block {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  .workouts-block {
    display: block;
    width: 100%;
  }

  .workouts-block article.left, .workouts-block article.right {
    width: 100%;
  }

  .workouts-block article.left .workouts-count {
    margin-bottom: 30px;
  }

  .workouts-block article.right {
    height: 600px;
    position: relative;
  }

  .workouts-block article.right img {
    position: unset;
  }

  .workouts-block article.right img:nth-child(1) {
    width: 200px;
    margin-left: 100%;
    transform: translateX(-95%);
  }

  .workouts-block article.right img:nth-child(2) {
    width: 250px;
    bottom: unset;
    margin-left: 50%;
    transform: translateX(-65%);
    margin-top: 50px;
  }

  .workouts-block article.right img:nth-child(3) {
    height: 250px;
    position: absolute;
    bottom: -125px;
    right: 0;
  }

  .nutrition-block article {
    height: auto;
  }

  .nutrition-block article img {
    display: block;
    width: 450px;
    margin: 0 auto;
    position: unset;
  }

  .download-block article {
    margin-left: 0;
  }

  footer {
    width: 100%;
    padding: 0 25px;
    justify-content: space-between;
  }

  footer ul {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }

  .comments-block time {
    position: absolute;
    right: 0;
    top: -32px;
    color: #D0CECE;
    font-size: 16px;
  }

  .comments-block .center article:nth-child(2) time {
    left: 0;
    top: -32px;
  }
}
